.main-banner {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    width: 60%;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}